{eunit_opts, [verbose]}.
{deps, []}.

{profiles, [{docs, [
                    {deps, [edown]},

                    {edoc_opts, [{doclet, edown_doclet},
                                 {packages, false},
                                 {subpackages, true},
                                 {top_level_readme,
                                  {"./README.md", "http://gitlab.com/barrel-db/erlang-rocksdb"}}]}]},
            {test, [
                    {erl_first_files, ["test/rocksdb_test_util.erl"]}
                   ]}

           ]}.

{pre_hooks, [{clean, "make -C c_src clean"}
            ]}.

{post_hooks, [{"(linux|darwin)", compile, "make -C c_src"}
             ]}.
